.btn {border: 0;border-radius: 5px;padding: 1rem;cursor: pointer;}

.btn-primary {
    background-color: #4b8ec7;
    color: #fff;
    font-size: 1.3rem;
}

.btn-media {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 0.7rem;
    cursor: pointer;
}

.btn-media #bg {
    fill: #E8E8E8;
}

.btn-media:hover #bg {
    fill: #8098af;
}

.btn-star {
    margin-right: 1rem;
}