.app {
}

.dashboard {
    padding: 2rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.c-reddit {
    display: flex;
    width: 90%;
    margin: 0 auto 4rem;
    max-width: 840px;
    /* align-items: center; */
}

.c-hl {
    text-align: center;
    padding: 4rem;
}

.db {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    padding-top: 3rem;
}

@media (min-width: 775px) {
    .db {
        max-width: 1148px;
        margin: 0 auto;
        width: 80%;
        background-color: #fff;
        padding: 1rem 2rem;
    }
}


@media (min-width: 775px) {
    .panels {display: flex;justify-content: space-between;}
}

.prompt {
    text-align: right;
}