.navbar {
    font-size: 11px;
}


@media (min-width: 775px) {
  .navbar {
    font-size: 14px;
  } 
}

@media (min-width: 900px) {
  .navbar {
    font-size: 16px;
  } 
}

.navbar {background-color: #fff;display: flex;justify-content: space-between;padding: 1.1em 3em;/* max-width: 1300px; */margin: 0 auto;align-items: center;border-bottom: 1px solid #aaa;}

.navbar--logo {width: 12em;}

.navbar--text {font-size: 1.3em;color: #aaa;display: none;}

@media (min-width: 775px) {
  .navbar--text {  
    display: block;
  }
}

.navbar--img {width: 7.9em;}

.navbar--btn {
  width: 2.3em;
}

.navbar-nav {display: flex;list-style: none;}

.navbar-item {

}

.nav-link {
  margin-right: 1em;
  text-decoration: none;
  font-weight: 700;
  color: #6fbbe2;
}

.nav-link-pill {
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #ccc;
  color: #999;
  border-radius: 14px;
  font-weight: 700;
}

.nav-link-pill.active {color: #62a5d0;}

.nav-link-pill.active, .nav-link-pill:hover {border: 1px solid pink;}