.link {
    cursor: pointer;
    color: #51abef;
}

.link-large {
    color: #aaa;
    font-size: 2.1rem;
}

.link-regular {
    display: inline-block;
    font-size: 1rem;
    color: #5f98c3;
}

.link-reddit {
    font-weight: 700;
    text-decoration: none;
    margin-right: 1rem;
    color: #888;
}

.link-reddit:hover {
    text-decoration: underline;
}