.title {margin: 0 0 0.6rem;font-size: 1.5rem;}

.subtitle {
    margin: 0 0 0.4rem;
}

.title--panel {

}

.title--phase {
    font-weight: 700;
    font-size: 1.7rem;
    top: 10px;
}

@media (min-width: 775px) {
    .title--phase {
        top: 10px;
        font-size: 1rem;
    }    
}